@inject AdminService service
<h3>GenresPortal</h3>

<ul>
    @foreach (var DTO in Model)
    {
        <li>
            <h1>@DTO.Name</h1>
        </li>
    }
</ul>

@code {
    public List<GenreDTO> Model = new();

    protected override async void OnInitialized()
    {
        Model = await service.GetAsync<GenreDTO>($"genres");
    }
}
